*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
    font-family: 'Quicksand', sans-serif;
}

body{
    
    
    // NAVBAR
    .navbar { 
        height: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

            .logo{
                font-size: 1.5rem;
                font-weight: 400;
                color: #f36f89;

            }
   
    }
    
    
    // BURGER MENU AND ANIMATION
    .menu-btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        .menu-btn_burger{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 4px;
            background: rgb(243, 111, 137);
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
        }

        .menu-btn_burger::after,
        .menu-btn_burger::before {
            content: '';
            position: absolute;
            background:  #f36f89;
            width: 30px;
            height: 4px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
            
        }

        .menu-btn_burger::before {
            transform: translateY(-10px);

        }

        .menu-btn_burger::after {
            transform: translateY(10px);
        }
    }

    // Animation
    .menu-btn.open .menu-btn_burger {
        transform: translateX(0px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn_burger::before {
        transform: rotate(45deg) ;
    }
    .menu-btn.open .menu-btn_burger::after {
        transform: rotate(-45deg) ;
    }

    //SIDEBER
    .sidebar {
        font-size: 1.3rem;
        font-weight: 600;
        background: #fff;
        // position: fixed;
        display: flex;
        width: 250px;
        height: 100vh;
        border-top-right-radius: 30px;
        box-shadow: 10px 20px 15px 5px rgba(0,0,0,0.1);

        position: absolute;
        z-index: 5;
        // top: 0;

        left: -100%;
        transition: 900ms;
        
        li {
            list-style: none;
            margin: 30px 0px 0px 30px;
            
            a {
                text-decoration: none;
                color: rgb(243, 111, 137);
                display: flex;
                align-items: center;
                
            }
            .sidebar-title {
                padding-left: 10px;
            }
        }
    }
    //SIDEBAR TRANSITION
    .open {
        left: 0;
        transition: 500ms;
    }

    //LANDING PAGE
    .landing-page{
        margin-top: 100px;
        .landing-page-details{
            position: relative;
            z-index: 1;
        }
        .landing-text {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: rgb(97, 78, 81);
            margin: 40px auto;
            width: 40vh;
        }

        .landing-button {  
            text-align: center;

            button {
                width: 30vh;
                height: 40px;
                font-size: 1.5rem;
                font-weight: 100;
                background-color: rgb(236, 62, 97);
                color: #fff;
                border: none;
                border-radius: 20px;
            }
        }

        .left-svg{
            position: absolute;
            left: 0;
            top: 10%;
            height: 40%;
            // width: 10%;
        }
        .right-svg{
            position: absolute;
            right: 0;
            top: 45%;
            width: 105%;
            height: 56%;
            z-index: 0;
        }
    }
    
}