@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body .navbar {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: #f36f89;
}

body .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .menu-btn .menu-btn_burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 4px;
  background: #f36f89;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .menu-btn .menu-btn_burger::after,
body .menu-btn .menu-btn_burger::before {
  content: '';
  position: absolute;
  background: #f36f89;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .menu-btn .menu-btn_burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body .menu-btn .menu-btn_burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

body .menu-btn.open .menu-btn_burger {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .menu-btn.open .menu-btn_burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .menu-btn.open .menu-btn_burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .sidebar {
  font-size: 1.3rem;
  font-weight: 600;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 100vh;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 10px 20px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 20px 15px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 5;
  left: -100%;
  -webkit-transition: 900ms;
  transition: 900ms;
}

body .sidebar li {
  list-style: none;
  margin: 30px 0px 0px 30px;
}

body .sidebar li a {
  text-decoration: none;
  color: #f36f89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sidebar li .sidebar-title {
  padding-left: 10px;
}

body .open {
  left: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

body .landing-page {
  margin-top: 100px;
}

body .landing-page .landing-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #614e51;
  margin: 40px auto;
  width: 40vh;
}

body .landing-page .landing-button {
  text-align: center;
}

body .landing-page .landing-button button {
  width: 30vh;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 100;
  background-color: #ec3e61;
  color: #fff;
  border: none;
  border-radius: 20px;
}

body .landing-page .left-svg {
  position: absolute;
  left: 0;
  top: 10%;
  height: 40%;
}
/*# sourceMappingURL=main.css.map */